# Data Science Tools and Ecosystem

## Author
H. Oxtoby

**Objectives:**

- List popular languages for Data Science
- List common libraries for Data Science
- Name 3 open-source development tools for Data Science
- Give a few examples of arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. matplotlib
3. seaborn
4. dplyr
5. stringr
6. ggplot

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335